.dropdown-menu {
  position: absolute;
  width: 160px;
  // height: 300px;
  padding: 4px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px rgba(188, 188, 194, 0.05), 0 8px 24px rgba(188, 188, 194, 12%) !important;

  .dropdown-menu-divider {
    height: 1px;
    margin: 4px 8px;
    background: #dcdcdc;
  }

  .dropdown-menu-item {
    display: flex;
    align-items: center;
    height: 36px;
    color: #333;
    padding: 0 8px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    background: #fff;

    &:hover {
      background: #eee;
    }

    &.dropdown-menu-danger {
      color: rgb(255, 126, 117);
    }
  }

}
