@import '../../styles/color.scss';
.popup-container {
  min-width: 300px;
  padding: 10px;
}

.header {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  .left {
    display: flex;
    align-items: flex-end;
  }

  .setting-icon {
    cursor: pointer;
  }
}

.logo-wrap {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  margin-right: 10px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.content-wrap {
  display: flex;
  .list-line {
    display: flex;
    // align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .label {
    margin-right: 20px;
    white-space: nowrap;
  }

  .content {
    width: 250px;
    overflow: hidden;
  }

  $folderLineHeight: 35px;
  .folder-list-wrap {
    position: relative;
    // display: flex;
    // padding: 10px;
    // box-shadow: inset 0 0 0 1px var(--divider_secondary);
  }

  .folder-list-item {
    display: flex;
    height: $folderLineHeight;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    background: var(--divider_tertiary);

    &:hover {
      background: var(--divider_tertiary);
    }
  }

  .folder-select-list {
    // position: absolute;
    top: 0;
    left: 0;
    transform: translateY($folderLineHeight);
  }

  .folder-img {
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }

  .folder-name {
    font-size: 13px;
  }

  .tips {
    font-size: 15px;
    white-space: nowrap;
  }
}

.footer {
  margin-top: 20px;

  .btns-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .remove-btn,
  .finish-btn {
    width: 65px;
  }

  .remove-btn {
    margin-right: 10px;
  }
}

.input {
  padding: 5px 12px;
  border-radius: 5px;
  background-color: var(--divider_tertiary);
  color: var(--context_primary);
  transition: background-color 0.3s ease;
  border: none;
  box-shadow: none;
  background-image: none;
  font-size: 14px;
  line-height: 1.5715;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
  margin: 0;
  overflow: visible;
  outline: none;

  &:not([type='range']) {
    touch-action: manipulation;
  }

  &[type='text'] {
    -webkit-appearance: none;
  }

  &:hover {
    border: none;
    background-color: var(--divider_secondary);
    box-shadow: 0 0 0 1px var(--theme_primary) inset;
  }

  &:focus {
    border: none;
    background-color: var(--divider_secondary);
    box-shadow: 0 0 0 1px var(--theme_primary) inset;
  }
}
