.popup-container {
  min-width: 200px;
  padding: 10px;
}

.header {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  .setting-icon {
    cursor: pointer;
  }
}

.content-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  .logo-wrap {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    margin-right: 10px;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .center-content {
    flex: 1;
    margin-right: 10px;
    white-space: nowrap;
  }

  .title {
    margin-bottom: 5px;
    font-size: 14px;
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .url {
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .btn-wrap {
    display: flex;
    flex-shrink: 0;
    min-width: 60px;
    justify-content: flex-end;
  }
}

.tips {
  font-size: 14px;
  white-space: nowrap;
}

.input {
  padding: 4px 12px;
  border-radius: 5px;
  background-color: var(--divider_tertiary);
  color: var(--context_primary);
  transition: background-color 0.3s ease;
  border: none;
  box-shadow: none;
  background-image: none;
  font-size: 14px;
  line-height: 1.5715;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
  margin: 0;
  overflow: visible;
  outline: none;

  &:not([type='range']) {
    touch-action: manipulation;
  }

  &[type='text'] {
    -webkit-appearance: none;
  }

  &:hover {
    border: none;
    background-color: var(--divider_secondary);
    box-shadow: 0 0 0 1px var(--theme_primary) inset;
  }

  &:focus {
    border: none;
    background-color: var(--divider_secondary);
    box-shadow: 0 0 0 1px var(--theme_primary) inset;
  }
}
