:root {
  color-scheme: light dark;
  --tabs_card_back_color: rgba(37, 38, 43, 0.05);
  --basic_white: rgb(255, 255, 255);
  --basic_white_secondary: rgba(255, 255, 255, 0.72);
  --basic_white_tertiary: rgba(255, 255, 255, 0.36);
  --basic_white_quarternary: rgba(255, 255, 255, 0.18);
  --background_primary: rgb(255, 255, 255);
  --background_primary_blur: var(--background_primary);
  --background_secondary: rgb(245, 245, 246);
  --background_secondary_blur: var(--background_secondary);
  --background_tertiary: rgb(255, 255, 255);
  --background_tertiary_blur: var(--background_tertiary);
  --context: 37, 38, 43;
  --context_primary: rgb(var(--context));
  --context_secondary: rgba(var(--context), 0.72);
  --context_tertiary: rgba(var(--context), 0.36);
  --context_quarternary: rgba(var(--context), 0.18);
  --divider: 132, 133, 141;
  --divider_primary: rgba(var(--divider), 0.2);
  --divider_secondary: rgba(var(--divider), 0.16);
  --divider_tertiary: rgba(var(--divider), 0.08);
  --divider_overlay: rgba(0, 0, 0, 0.24);
  --divider_tap: rgba(0, 0, 0, 0.08);
  --theme: 99, 125, 255;
  --theme_primary: rgb(var(--theme));
  --theme_secondary: rgba(var(--theme), 0.48);
  --theme_tertiary: rgba(var(--theme), 0.24);
  --theme_quarternary: rgba(var(--theme), 0.12);
  --theme_hover: rgb(122, 144, 255);
  --theme_active: rgb(82, 110, 250);
  --red: 243, 91, 81;
  --red_primary: rgb(var(--red));
  --red_secondary: rgba(var(--red), 0.48);
  --red_tertiary: rgba(var(--red), 0.24);
  --red_quarternary: rgba(var(--red), 0.12);
  --red_hover: rgb(255, 111, 102);
  --red_active: rgb(237, 80, 69);
}

@media (prefers-color-scheme: dark) {
  :root {
    --tabs_card_back_color: rgba(37, 38, 43, 0.5);
    --basic_white: rgb(255, 255, 255);
    --basic_white_secondary: rgba(255, 255, 255, 0.72);
    --basic_white_tertiary: rgba(255, 255, 255, 0.36);
    --basic_white_quarternary: rgba(255, 255, 255, 0.18);
    --background_primary: rgb(17, 17, 19);
    --background_primary_blur: var(--background_primary);
    --background_secondary: rgb(34, 34, 38);
    --background_secondary_blur: var(--background_secondary);
    --background_tertiary: rgb(49, 49, 54);
    --background_tertiary_blur: var(--background_tertiary);
    --context: 301, 255, 255;
    --context_primary: rgb(var(--context));
    --context_secondary: rgba(var(--context), 0.72);
    --context_tertiary: rgba(var(--context), 0.36);
    --context_quarternary: rgba(var(--context), 0.18);
    --divider: 132, 133, 141;
    --divider_primary: rgba(var(--divider), 0.36);
    --divider_secondary: rgba(var(--divider), 0.24);
    --divider_tertiary: rgba(var(--divider), 0.12);
    --divider_overlay: rgba(136, 136, 136, 0.24);
    --divider_tap: rgba(255, 255, 255, 0.08);
    --theme: 112, 136, 255;
    --theme_primary: rgb(var(--theme));
    --theme_secondary: rgba(var(--theme), 0.48);
    --theme_tertiary: rgba(var(--theme), 0.24);
    --theme_quarternary: rgba(var(--theme), 0.12);
    --theme_hover: rgb(138, 157, 255);
    --theme_active: rgb(97, 122, 250);
    --red: 239, 103, 94;
    --red_primary: rgb(var(--red));
    --red_secondary: rgba(var(--red), 0.48);
    --red_tertiary: rgba(var(--red), 0.24);
    --red_quarternary: rgba(var(--red), 0.12);
    --red_hover: rgb(255, 126, 117);
    --red_active: rgb(234, 92, 83);
  }
}
