@import '../../styles/main';
@import '../../styles/reset';
@import '../../styles/variables';
@import '../../styles/grid';
@import '../../styles/layout.scss';
@import '../../styles/utilities';
@import '../../styles/color.scss';

body {
  transition: color 0.5s, background-color 0.5s;

  .ant-popover-title {
    display: none;
  }
}

.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    // filter: opacity(80%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    // background-image: url(../../assets/img/back.png);
    // background-image: url(https://cos.sankki.com/resource/nav-bg/yuanshen6.jpg);
  }
}
