.ant-modal-wrap {
  .ant-modal-header {
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    padding: 0 20px;
    height: 64px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--background_tertiary);
    .ant-modal-title {
      line-height: 24px;
      color: var(--context_primary);
      max-width: 100%;
    }
  }

  .ant-modal-content {
    border-radius: 10px;
    background-color: var(--background_tertiary);

    path {
      fill: var(--context_secondary);
    }
  }

  .ant-modal-body {
    padding: 0 20px;
  }

  .ant-modal-footer {
    border-top: none;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    overflow: hidden;

    .modal-footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
